<div class="header">
    <div class="header-logo-tag">
        <div class="header-logo">
            <img src="../../assets/fundooLogoImg.png">
        </div>
        <div class="header-tag">
            <h1 style="color:rgb(227, 227, 71);">Fundo</h1>
        </div>
    </div>
    <div class="header-search">
        <mat-icon svgIcon="search-icon" aria-hidden="false" aria-label="search icon"
            style="width:17px; height:17px;padding-bottom: 4%; margin-left:1%;"></mat-icon>
        <input type="text" placeholder="search" style="border:none; background-color: whitesmoke;">
    </div>

    <div class="header-icons">
        <mat-icon svgIcon="refresh-icon" aria-hidden="false" aria-label="refresh icon"></mat-icon>
        <mat-icon svgIcon="list-view-icon" aria-hidden="false" aria-label="list view icon"></mat-icon>

        <mat-icon svgIcon="setting-icon" aria-hidden="false" aria-label="setting icon"></mat-icon>
    </div>

    <div class="header-icons-detailed">
        <div class="header-icons-detailed-othericon">
            <mat-icon svgIcon="other-menu-icon" aria-hidden="false" aria-label="other menu icon"></mat-icon>
        </div>
        <div class="header-icons-detailed-profile">
            Q
        </div>
    </div>
</div>