.notecard {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    width: 40%;
    border: 1px solid gray;
    border-radius: 1rem;
}

.notecard-content {
    display: flex;
    flex-direction: row;
}

.notecard-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}